onnxruntime
onnxruntime-rocm -f https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.1/
rembg[rocm]
watchdog
asyncer
aiohttp
uvicorn
fastapi
python-multipart
filetype
gradio
nano
aiofiles  
Pillow    
requests
httpx
python-multipart
